In [6]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [7]:
regresion_lineal = LinearRegression()

In [8]:
df = pd.read_csv('empleados.csv', delimiter=";")

In [9]:
df.head(20)

    Edad  Experiencia  Salario
0   22.0            3     2423
1   26.0            5     2639
2   35.0           10     3122
3   35.0           13     3431
4   54.0           18     3962
5   27.0            4     2564
6   24.0            6     2709
7   58.0           24     4532
8   20.0            1     1977
9   39.0            8     2953
10  24.0            6     2709
11  55.0           12     3306
12  22.0            4     2518
13   NaN           10     3194
14  31.0           11     3267
15   NaN           15     3635
16  34.0           11     3257
17  23.0            5     2695
18   NaN           24     4529
19   NaN           18     3907

In [10]:
df.isnull().sum()

Edad           46
Experiencia     0
Salario         0
dtype: int64

In [13]:
df_nulos = df[df['Edad'].isnull()==True]

In [14]:
df_no_nulos = df[df['Edad'].isnull()==False]

In [15]:
y_entrenamiento = df_no_nulos['Edad']

In [16]:
x_entrenamiento = df_no_nulos.drop('Edad', axis=1)

In [18]:
regresion_lineal.fit(x_entrenamiento, y_entrenamiento)

LinearRegression()

In [19]:
predicciones = regresion_lineal.predict(df_nulos.drop('Edad', axis=1))

In [20]:
df_nulos.head()

    Edad  Experiencia  Salario
13   NaN           10     3194
15   NaN           15     3635
18   NaN           24     4529
19   NaN           18     3907
20   NaN            5     2656

In [22]:
df_nulos['Edad'] = predicciones

C:\Users\rlobo\AppData\Local\Temp\ipykernel_20348\4172254396.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nulos['Edad'] = predicciones

In [23]:
df_nulos.head()

         Edad  Experiencia  Salario
13  38.758824           10     3194
15  45.115332           15     3635
18  57.240878           24     4529
19  48.979739           18     3907
20  31.740323            5     2656

In [24]:
type(predicciones)

numpy.ndarray