In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('emisiones.csv', delimiter=";")

In [4]:
df.head(10)

   Motor  Cilindros  Consumo Ciudad  Consumo Autopista  CO2
0    2.1          4            13.7                9.1  290
1    2.6          4            12.7                8.6  327
2    2.0          4            13.7                9.4  382
3    4.3          4            14.3                9.0  347
4    3.6          4            14.6               10.4  377
5    4.0          4             9.5                8.5  327
6    4.2          6            10.2                9.9  382
7    4.5          4            13.7               10.4  347
8    4.4          6            18.4                7.1  377
9    2.7          6            13.7                9.3  294

In [5]:
df = df.iloc[:, [0,1,3,2,4]]

In [6]:
df.head()

   Motor  Cilindros  Consumo Autopista  Consumo Ciudad  CO2
0    2.1          4                9.1            13.7  290
1    2.6          4                8.6            12.7  327
2    2.0          4                9.4            13.7  382
3    4.3          4                9.0            14.3  347
4    3.6          4               10.4            14.6  377