In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('datos.csv', delimiter=";")

In [5]:
df.head(10)

   Altura    Peso
0    1.68   63.11
1    1.70   64.47
2    1.73   66.28
3    1.75   68.10
4    1.78   69.92
5    1.80   72.19
6    1.83   74.46
7    1.57  105.18
8    1.19  114.41
9    1.74   82.30

In [4]:
scaler = MinMaxScaler()

In [9]:
scale_nd = scaler.fit_transform(df)

In [10]:
type(scale_nd)

numpy.ndarray

In [11]:
scale_df = pd.DataFrame(scale_nd, columns=df.columns)

In [13]:
scale_df.head()

     Altura      Peso
0  0.655172  0.141173
1  0.678161  0.158788
2  0.712644  0.182230
3  0.735632  0.205802
4  0.770115  0.229374