In [1]:
import numpy as np

In [4]:
import pandas as pd

In [2]:
emisiones = np.array(
[['Motor', 'Cilindros', 'Consumo Ciudad', 'Consumo Carretera', 'CO2'],
[2,4,13.7,9.4,382],
[4.3,4,14.3,9,347],
[4,4,9.5,8.5,327],
[4.4,6,18.4,7.1,377],
[2.7,6,13.7,9.3,294],
[3.1,6,19.4,6.4,297],
[4,4,9.6,13.3,313],
[1.8,6,11.5,18,207],
[6.3,4,11.6,9.6,253],
[5,6,11.3,9.7,269],
[2.8,8,13.1,10,235],
[2.2,8,13.2,10.6,235],
[2.8,8,13.3,6.9,307],
[4,8,11.9,6.7,354],
[4,8,12.9,5.7,337],
[3.9,8,12.6,5.8,368],
[3.8,6,13.1,6.1,327],
[4,6,12.8,5.9,205],
[5,6,13.3,6.5,193],
[6.7,6,19.7,6.1,207],
[4,6,16.7,5.9,209],
[2.9,8,19.7,8.4,200],
[2.7,8,16.7,8.3,193],
[3.1,4,10,9.6,235],
[3.6,4,11.5,10.2,239],
[3.9,4,9.3,11.2,230],
[2.1,4,12.2,7.2,278]])

In [12]:
df = pd.DataFrame(emisiones, columns=emisiones[0])

In [13]:
emisiones[0]

array(['Motor', 'Cilindros', 'Consumo Ciudad', 'Consumo Carretera', 'CO2'],
      dtype='<U32')

In [19]:
df = df.drop(0).reset_index(drop=True)

In [20]:
df.head()

  Motor Cilindros Consumo Ciudad Consumo Carretera  CO2
0   4.3         4           14.3                 9  347
1     4         4            9.5               8.5  327
2   4.4         6           18.4               7.1  377
3   2.7         6           13.7               9.3  294

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Motor              4 non-null      object
 1   Cilindros          4 non-null      object
 2   Consumo Ciudad     4 non-null      object
 3   Consumo Carretera  4 non-null      object
 4   CO2                4 non-null      object
dtypes: object(5)
memory usage: 292.0+ bytes

In [24]:
df = df.astype(float)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Motor              4 non-null      float64
 1   Cilindros          4 non-null      float64
 2   Consumo Ciudad     4 non-null      float64
 3   Consumo Carretera  4 non-null      float64
 4   CO2                4 non-null      float64
dtypes: float64(5)
memory usage: 292.0 bytes

In [26]:
df.head()

   Motor  Cilindros  Consumo Ciudad  Consumo Carretera    CO2
0    4.3        4.0            14.3                9.0  347.0
1    4.0        4.0             9.5                8.5  327.0
2    4.4        6.0            18.4                7.1  377.0
3    2.7        6.0            13.7                9.3  294.0

In [27]:
np_df = np.delete(emisiones, 0, axis=0)

In [28]:
np_df

array([['2', '4', '13.7', '9.4', '382'],
       ['4.3', '4', '14.3', '9', '347'],
       ['4', '4', '9.5', '8.5', '327'],
       ['4.4', '6', '18.4', '7.1', '377'],
       ['2.7', '6', '13.7', '9.3', '294'],
       ['3.1', '6', '19.4', '6.4', '297'],
       ['4', '4', '9.6', '13.3', '313'],
       ['1.8', '6', '11.5', '18', '207'],
       ['6.3', '4', '11.6', '9.6', '253'],
       ['5', '6', '11.3', '9.7', '269'],
       ['2.8', '8', '13.1', '10', '235'],
       ['2.2', '8', '13.2', '10.6', '235'],
       ['2.8', '8', '13.3', '6.9', '307'],
       ['4', '8', '11.9', '6.7', '354'],
       ['4', '8', '12.9', '5.7', '337'],
       ['3.9', '8', '12.6', '5.8', '368'],
       ['3.8', '6', '13.1', '6.1', '327'],
       ['4', '6', '12.8', '5.9', '205'],
       ['5', '6', '13.3', '6.5', '193'],
       ['6.7', '6', '19.7', '6.1', '207'],
       ['4', '6', '16.7', '5.9', '209'],
       ['2.9', '8', '19.7', '8.4', '200'],
       ['2.7', '8', '16.7', '8.3', '193'],
       ['3.1', '4', '10', '9.6', '235'],
       ['3.6', '4', '11.5', '10.2', '239'],
       ['3.9', '4', '9.3', '11.2', '230'],
       ['2.1', '4', '12.2', '7.2', '278']], dtype='<U32')

In [29]:
np_df = np_df.astype(float)

In [30]:
np_df

array([[  2. ,   4. ,  13.7,   9.4, 382. ],
       [  4.3,   4. ,  14.3,   9. , 347. ],
       [  4. ,   4. ,   9.5,   8.5, 327. ],
       [  4.4,   6. ,  18.4,   7.1, 377. ],
       [  2.7,   6. ,  13.7,   9.3, 294. ],
       [  3.1,   6. ,  19.4,   6.4, 297. ],
       [  4. ,   4. ,   9.6,  13.3, 313. ],
       [  1.8,   6. ,  11.5,  18. , 207. ],
       [  6.3,   4. ,  11.6,   9.6, 253. ],
       [  5. ,   6. ,  11.3,   9.7, 269. ],
       [  2.8,   8. ,  13.1,  10. , 235. ],
       [  2.2,   8. ,  13.2,  10.6, 235. ],
       [  2.8,   8. ,  13.3,   6.9, 307. ],
       [  4. ,   8. ,  11.9,   6.7, 354. ],
       [  4. ,   8. ,  12.9,   5.7, 337. ],
       [  3.9,   8. ,  12.6,   5.8, 368. ],
       [  3.8,   6. ,  13.1,   6.1, 327. ],
       [  4. ,   6. ,  12.8,   5.9, 205. ],
       [  5. ,   6. ,  13.3,   6.5, 193. ],
       [  6.7,   6. ,  19.7,   6.1, 207. ],
       [  4. ,   6. ,  16.7,   5.9, 209. ],
       [  2.9,   8. ,  19.7,   8.4, 200. ],
       [  2.7,   8. ,  16.7,   8.3, 193. ],
       [  3.1,   4. ,  10. ,   9.6, 235. ],
       [  3.6,   4. ,  11.5,  10.2, 239. ],
       [  3.9,   4. ,   9.3,  11.2, 230. ],
       [  2.1,   4. ,  12.2,   7.2, 278. ]])