In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('temperaturas.csv', delimiter=";")

In [3]:
df.head()

    Año  Temperatura
0  1960         71.4
1  1961         71.9
2  1962         71.9
3  1963         72.3
4  1964         71.7

In [4]:
nueva_temperatura = pd.DataFrame.from_dict([{'Año': '2022', 'Temperatura': '74.3'}])

In [10]:
pd.concat([df, nueva_temperatura], axis=0, ignore_index=True)

     Año Temperatura
0   1960        71.4
1   1961        71.9
2   1962        71.9
3   1963        72.3
4   1964        71.7
..   ...         ...
58  2018        73.5
59  2019        72.7
60  2020        74.6
61  2021        73.5
62  2022        74.3

[63 rows x 2 columns]