In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np

In [2]:
df = pd.read_csv('emisiones.csv', delimiter=";")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Marca     91 non-null     object
 1   Longitud  91 non-null     float64
 2   Anchura   91 non-null     float64
 3   Altura    91 non-null     float64
 4   Maletero  91 non-null     int64
 5   CO2       91 non-null     int64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.4+ KB

In [6]:
y = df[['CO2']]
x = df[['Longitud', 'Anchura', 'Altura']]

In [7]:
df.head()

        Marca  Longitud  Anchura  Altura  Maletero  CO2
0        Aero     4.495    1.840   1.540       320  294
1  Ality Auto     4.377    1.806   1.590       439  237
2       Amber     4.355    1.805   1.535       401  228
3    Ape Auto     3.698    1.720   1.484       170  207
4        Apex     4.535    1.770   1.480       624  327

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [9]:
regresion_lineal = LinearRegression()

In [11]:
regresion_lineal.fit(x_train, y_train)
y_pred = regresion_lineal.predict(x_test)

In [12]:
print('Error absoluto medio: {error:.3f}'.format(error=metrics.mean_absolute_error(y_test, y_pred)))
print('Error cuadratico medio: {error:.3f}'.format(error=metrics.mean_squared_error(y_test, y_pred)))
print('Raiz del error cuadratico medio: {error:.3f}'.format(error=np.sqrt(metrics.mean_squared_error(y_test, y_pred))))

Error absoluto medio: 26.458
Error cuadratico medio: 1104.278
Raiz del error cuadratico medio: 33.231